*{
	font-family:Verdana, Geneva, sans-serif;
}

html{
	background-color:#001000;
}

.head{
	background-color:#009900;
	margin-left: 1%;
	margin-top: 20px;
	margin-right: 1%;
	
	text-align:center;
	
	/*width: 98%;*/
	padding-left: 1%;
	padding-right: 1%;
	
	height: 110px;
	border: 3px solid #206020;
	border-radius: 20px;
}

.top{
	background-color:#000000;
	border: 3px solid #0000FF;
	border-radius: 5px;
	
	margin-left: 1%;
	margin-top: 20px;
	margin-right: 1%;
	
	/*width: 98%;*/
	padding-left: 1%;
	padding-right: 1%;
	
	text-align:center;
	color:#00FF00;
	font-size: 15px;
}

.top td{
	width: 10%;
}
/*
.top>*{
	color:#00FF00;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
*/
.menu{
	background-color:#000000;
	border: 3px solid #0000FF;
	border-radius: 5px;
	
	float:left;
	margin-top: 1%;
	margin-left: 1%;
	
	padding: 10px 1% 10px 1%;
	
	height: 600px;
	width: 20%;
	
	text-align:center;
	
	color: #00FF00;
	font-size: 15px;
	/*
	margin-left: auto;
	margin-right: auto;
	*/
	text-align: center;
}

.menu input[type=button]{
	background-color: #002222;
	color: #00CC00;
	width: 90%;
	box-shadow: 0px 0px 5px 5px #005500;
	border: 1px solid #00FF00;
	border-radius: 15px;
	font-size: 18px;
	text-align: center;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	
	padding-bottom:5px;
	padding-top:5px;
}

.main{
	background-color: #000000;
	border: 3px solid #0000FF;
	border-radius: 5px;
	margin-top:1%;
	margin-right:1%;
	padding: 10px 1% 10px 1%;
	
	font-size: 18px;
	color:#00EE00;
	
	height: 600px;
	width: 71%;
	float:right;
	
	text-align:center;
}

.main input[type=button]{
	background-color: #000050;
	color: #00CC00;
	box-shadow: 0px 0px 2px 2px #00A000;
	border: 1px solid #00FF00;
	border-radius: 5px;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.main th{
	font-size: 15px;
}

.main table{
	width: 100%;
}

#main_act input[type=button]{
	width: 90%;
}

#main_act_choose_dur th,td{
	width: 33%;
}

#main_sav input[type=button]{
	width: 90%;
}

#main_shop input[type=button]{
	width: 90%;
}

#main_shop td{
	width: 25%;
}

#m_sub{
	width:92%;
	margin: 2% 2% 2% 2%;
	border: 1px solid #004000;
	border-radius: 1%;
	
	padding: 2% 2% 2% 2%;
	
	font-size: 16px;
}