*{
	font-family:Verdana, Geneva, sans-serif;
}

html{
	background-color:#002000;
}

.head{
	background-color:#008000;
	margin-left: 1%;
	margin-top: 20px;
	margin-right: 1%;
	
	width: 98%;
	
	text-align:center;
	
	height: 120px;
	border: 3px solid #206020;
	border-radius: 20px;
}

.top{
	background-color:#101010;
	border: 3px solid #0000FF;
	border-radius: 5px;
	
	margin-left: 1%;
	margin-top: 20px;
	margin-right: 1%;
	
	width: 98%;
	
	text-align:center;
}

.top>*{
	color:#00FF00;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.left{
	background-color:#000000;
	border: 3px solid #0000FF;
	border-radius: 5px;
	
	float:left;
	margin-top: 1%;
	margin-left: 1%;
	
	padding: 10px 1% 10px 1%;
	
	height: 500px;
	width: 30%;
	
	text-align:center;
}
.left>*{
	color: #00FF00;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input[type=button]{
	background-color: #000050;
	color: #00CC00;
	box-shadow: 0px 0px 2px 2px #00A000;
	border: 1px solid #00FF00;
	border-radius: 5px;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.activity{
	background-color: #000000;
	border: 3px solid #0000FF;
	border-radius: 5px;
	margin-top:1%;
	margin-right:1%;
	padding: 10px 1% 10px 1%;
	
	font-size: 18px;
	color:#20FF20;
	
	height: 500px;
	
	width: 60%;
	float:right;
	
	text-align:center;
}
